{% extends "main.html" %}

{% block dash %}

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Taha Chataiwala">
    <img src="{{ url_for('static', filename='images/taha.jpeg') }}" alt="Trolltunga Norway" width="300" height="200">
  </a>
  <div class="desc"><b>Taha Chataiwala</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Adnan Kagalwala">
    <img src="{{ url_for('static', filename='images/adnan.jpeg') }}" alt="Forest" width="600" height="400">
  </a>
  <div class="desc"><b>Adnan Kagalwala</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Ebrahim Kapadia">
    <img src="{{ url_for('static', filename='images/ibu.jpeg') }}" alt="Northern Lights" width="600" height="200">
  </a>
  <div class="desc"><b>Ebrahim Kapadia</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Abdul Khilawala">
    <img src="{{ url_for('static', filename='images/abdul.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Abdul Khilawala</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Mukarram Rangwala">
    <img src="{{ url_for('static', filename='images/mukki.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Mukarram Rangwalaa</b></div>
</div>

<div class="gallery hvr-pulse">
  <a href="/player/Hussain Haveliwala">
    <img src="{{ url_for('static', filename='images/haveli.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Hussain Haveliwala</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Abbas Malikjee">
    <img src="{{ url_for('static', filename='images/malik.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Abbas Malikjee</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Moiz Kopti">
    <img src="{{ url_for('static', filename='images/moiz.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Moiz Kopti</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Mustafa Amakin">
    <img src="{{ url_for('static', filename='images/gerua.jpeg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Mustafa Amakin</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Abizer Sabuwala">
    <img src="{{ url_for('static', filename='images/abizer.jpg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Abizer Sabuwala</b></div>
</div>

<div class="gallery hvr-pulse">
  <a target="/" href="/player/Taher Manasawala">
    <img src="{{ url_for('static', filename='images/taher.jpg') }}" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><b>Taher Manasawala</b></div>
</div>

{% endblock %}